<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="Database" name="SQLiteDB"/>
  </appSettings>-->
  <connectionStrings>
    <!--<add name="SQLiteDB" connectionString="Data Source=D:\VS\MajoitusVuokraamo\MajoitusVuokraamo\MajoitusVuokraamoDB.db;Version=3;" providerName="System.Data.SqlClient"/>-->
    <add name="SQLiteDB" connectionString="Data Source=.\MajoitusVuokraamoDB.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>